
<!doctype html>
<html class="no-js" ng-app="webPlayerMiniAppApp"  ng-strict-di>
  <head>
    <meta charset="utf-8">
    <title>LiuMei TALK! Web Player</title>
    <script>
		parent.aaGlobalee.playerBaseHref = parent.aaGlobalee.playerBaseHref || '//lmplayer-www.liumeitalk.com/';
		document.write('<base href="'+parent.aaGlobalee.playerBaseHref+'">');
	</script>
    

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/jplayer/dist/skin/pink.flag/jplayer.pink.flag.css" />
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container-fluid">
        <div ng-controller="AppCtrl" class='appCtrl mainCtrl'>

            <div id="communicateDiv" ng-controller = 'CommunicateCtrl as commCtrl'></div>

            <div ng-controller = 'ProgressCtrl as progressCtrl'>
                <div class='row'>
                    <div class='progressTimer col-xs-12'>
                        {{(progressCtrl.metadata.currentTime) | dateFormatFilter:'hh:mm:ss'}} / {{(progressCtrl.metadata.duration) | dateFormatFilter:'hh:mm:ss'}}
                    </div>
                </div>

                <div class="row"> 
                    <div class="progress progress-striped active progress-bar col-xs-12" ng-style="{'width': progressCtrl.metadata.percentage +'%'}"></div>
                </div>
            </div>

            <!-- 3rd row start here-->
            <div class='row'>
            <!--<wp-meta></wp-meta>-->
            <div id="metadataDiv" ng-controller = 'MetadataCtrl as metadataCtrl' class='col-xs-4 col-md-3'>
                <div class='row' ng-show="metadataCtrl.metadata.trackId">
                    <div class="coverArt clearSpace col-xs-4">
                        <img class='coverArt' ng-src="{{metadataCtrl.metadata.imageURL}}">{{metadataCtrl.broadcastData.sInfoPanel}}
                    </div>
                    <div class='metadatas col-xs-8'>
                        <p ng-controller="StationCtrl as stationCtrl" class='stationName ellipsis'>
                            {{stationCtrl.station.stationName}}</p>
                        <p id="title" class="metadataText ellipsis">{{metadataCtrl.metadata.title}}</p>
                        <p id="artist" class="metadataText ellipsis">{{metadataCtrl.metadata.artist}}</p>
                    </div>
                </div>
                <div id="playlistMetadataDiv" ng-controller = 'PlaylistMetadataCtrl as playlistMetadataCtrl'>
                    <div class='row' ng-show="playlistMetadataCtrl.playlistMetadata.id && !metadataCtrl.metadata.trackId">
                        <div class="coverArt clearSpace col-xs-4">
                            <img class='coverArt' ng-src="{{playlistMetadataCtrl.playlistMetadata.coverArt}}">
                        </div>
                        <div class='metadatas col-xs-8'>
                            <p ng-controller="StationCtrl as stationCtrl" class='stationName ellipsis'>
                                {{stationCtrl.station.stationName}}</p>
                            <p id="title" class="metadataText ellipsis">{{playlistMetadataCtrl.playlistMetadata.name}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="share" ng-controller = 'ShareCtrl as shareCtrl' class='more col-md-1 hidden-xs hidden-sm'>
                <button type="button" class="btn btn-info btn-lg transparent" ng-click="shareCtrl.toggleShare();"><img ng-src="assets/more.png"></button>
            </div>

            <!--<wp-control></wp-control>-->
            <div ng-controller="PlayerCtrl as playerCtrl" class="playerCtrl col-xs-8">

                <div id="jquery_jplayer_1" class="jp-jplayer"></div>

                <div class='row'>
                    <div id='playControl' class='col-xs-10 col-md-6'>
                        <div class='row'>
                            <div class='col-xs-3 lh60'><button class="transparent" ng-click="playerCtrl.seeking('backward')"><img ng-src="assets/backward.png"></button></div>

                            <div class='col-xs-3 center clearSpace'><button class="transparent" ng-click="playerCtrl.play()" ng-if="playerCtrl.button == 'Play'"><img ng-src="assets/play.png"></button>
                            <button class="transparent" ng-click="playerCtrl.play()" ng-if="playerCtrl.button == 'Stop'"><img ng-src="assets/pause.png"></button></div>

                            <div class='col-xs-3 lh60'><button class="transparent" ng-click="playerCtrl.seeking('forward')"><img ng-src="assets/forward.png"></button></div>

                            <div class='col-xs-3 lh60'><button class="transparent" ng-click="playerCtrl.playAfterTrack()"><img ng-src="assets/skip.png"></button></div>
                        </div>
                    </div>

                    <div class='playerControls col-md-2 hidden-xs hidden-sm'>
                        <div class='row'>
                            <div class="col-xs-4 volume" aria-hidden="true"><img ng-src="assets/volume.png">
                            </div>

                            <span id="sliderVolume" class='hidden-lg hidden-md'></span> 

                            <div class='col-xs-8' ui-slider='playerCtrl.slider.options' min="0.00" max="1.00" step="0.01" use-decimals ng-model="playerCtrl.volume"></div>
                        </div>
                    </div>

                    <div ng-controller="PlaylistMetadataCtrl as playlistMetadataCtrl1" class='playlistName ellipsis col-md-3 hidden-xs hidden-sm'>
                        {{playlistMetadataCtrl1.playlistMetadata.name}}
                    </div>

                    <div class='playlistName ellipsis col-xs-2 col-md-1'>
                        <button type="button" class="btn btn-info btn-lg transparent" ng-click="playerCtrl.toggleTrackList()"><img ng-src="assets/list.png"></button>
                    </div>

                </div> 
            </div>
            </div>

        </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>


    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/jplayer/dist/jplayer/jquery.jplayer.js"></script>
    <script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
    <script src="bower_components/angular-ui-slider/src/slider.js"></script>
    <script src="bower_components/momentjs/moment.js"></script>
    <script src="bower_components/humanize-duration/humanize-duration.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="bower_components/angular-timer/dist/angular-timer.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/GlobalSettings.js"></script>
    <script src="scripts/PgMediatorClass.js"></script>
    <script src="scripts/app.js"></script>
	<script src="scripts/controllers/appCtrl.js"></script>
	<script src="scripts/controllers/metadata.js"></script>
	<script src="scripts/controllers/station.js"></script>
	<script src="scripts/controllers/communicate.js"></script>
	<script src="scripts/controllers/player.js"></script>
	<script src="scripts/controllers/progress.js"></script>
	<script src="scripts/controllers/playlistMetadata.js"></script>
	<script src="scripts/controllers/share.js"></script>
	<script src="scripts/services/themer.js"></script>
	<script src="scripts/services/player.js"></script>
	<script src="scripts/services/metadata.js"></script>
	<script src="scripts/services/station.js"></script>
	<script src="scripts/services/playlistMetadata.js"></script>
	<script src="scripts/services/share.js"></script>
	<script src="scripts/services/session.js"></script>
	<script src="scripts/services/broadcastData.js"></script>
	<script src="scripts/services/jQueryJplayer.js"></script>
    <script src="scripts/directives/modal.js"></script>
    <!-- endbuild -->
        
    <script>
		LIVE365PLAYER.pgMediator = new LIVE365PLAYER.PgMediator();
		console.log( '>>> FROM PLAYER PAGE - LIVE365PLAYER.pgMediator: ', LIVE365PLAYER.pgMediator);
	</script>
</body>
</html>
