/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: MastheadPanelVcc_style.styl
 * *********************************************************************
 * *********************************************************************
 */
 
drct-masthead-panel-vcc {
	display: block;
}


@require '../../AppVcc/AppVcc_styleLib.styl'

$myVariants = '.MastheadPanelVcc'
$myElders = ''


{$myElders}
	{$myVariants}
	
		.mastheadImg
			
			/* Layout */
			width:100%
			height: 30vw;
			min-height: 100px;
						
			/* Style */
			border__: solid 1px red
			{$AppVcc_bottomBorderOnCoverImage}

			background: url($AppVcc_bizCoverImg);
			background-size: 100% 100%;
			background-repeat: no-repeat;


@require './MastheadPanelVcc_stylemq.styl'
