/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: MastheadPanelVcc_stylemq.styl
 * *********************************************************************
 * *********************************************************************
 */
 
drct-station-info-panel-vcc {
	display: block;
}

@require '../../AppVcc/AppVcc_styleLib.styl'

$myVariants = '.MastheadPanelVcc'
$myElders = ''

/* mobile first */

	@media $AppVcc_stndSmMinBreakpoint {
		{$myElders} {

			{$myVariants} {

				.mastheadImg {

					/* Layout */
					width:100%
					height: 30vw;
					min-height: 100px;
				}

			}

		}
	
	}